<template name="feedbackModals">

  <div id="suggestion" class="modal modal-fixed-footer">

      <div class="modal-content">



      </div>
      <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat ">CLOSE</a>
      </div>
  </div>

  <div id="reportBug" class="modal modal-fixed-footer">

      <div class="modal-content">


      </div>
      <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat ">CLOSE</a>
      </div>
  </div>

</template>
