input[type="search"] {

    height: 40px !important; /* or height of nav */
    border-bottom: 0px;
}

#getStarted h1 { font-weight: 200; }

.collection li:hover, .card:hover { cursor: pointer; }

#siteContainer {

    margin: 0px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 100px;
    height: 700px;
    width: 100%;

}

#browseMenu {

    padding: 0px;
    position: fixed;
    top: 150px;
    min-height: 580px;
    max-height: 1280px;

}

#browseMenu .collection li:hover { cursor: pointer; }

#mobileCategoryMenu {

    color: #fff;
    position: absolute;
    top: 205px;
    z-index: 999;
}
