<template name="navbar">
  
  <!-- MATERIALIZE NAVBAR -->
  <nav>
    <div class="nav-wrapper grey darken-4">
      <a href="#!" class="brand-logo hide-on-med-and-down"><img src="img/homepage/logo_only.png" class="responsive-image logo"></a>
      <a href="#!" class="brand-logo hide-on-large-only"><img src="img/homepage/logo_white.png" class="responsive-image logo"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">

        <li><a href="/">HOME</a></li>
        <li><a href="about">ABOUT</a></li>
        <li><a class="btn light-blue" href="login">LOGIN / SIGN UP</a></li>
        <li><a class="waves-effect waves-light" href="#modal2">CONTACT</a></li>
        <li><a class="waves-effect waves-light" href="#modal1">TERMS OF USE</a></li>
        <!-- li>
            <form>
                <div class="input-field">
                  <input placeholder="Search users" id="search" type="search" required>
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
            </form>
        </li-->

      </ul>
      <ul class="side-nav" id="mobile-demo">

        <li class="black-text"><a href="/">HOME</a></li>
        <li class="black-text"><a href="about">ABOUT</a></li>
        <li class="hide-on-small-only black-text"><a href="login">LOGIN/SIGN UP</a></li>
        <li class="black-text"><a class="waves-effect waves-light modal-trigger" href="#modal2">CONTACT</a></li>
        <li class="black-text"><a class="waves-effect waves-light modal-trigger" href="#modal1">TERMS OF USE</a></li>

        <!--li>
            <form>
                <div class="input-field">
                  <input placeholder="Search users" id="search" type="search" required>
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
            </form>
        </li-->

      </ul>
    </div>
  </nav>

</template>
