<template name="homeTemplate1">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style>

      #topParallax { height: 300px!important; }
      #topParallax img { filter: blur(5px);}

  </style>

</head>

<body>

  <nav>
    <div class="t t-nav t-colored-container nav-wrapper z-depth-5 red lighten-2 white-text">
      <a href="#!" style="margin-left: 10px;" class="t t-text-container t-double-ele brand-logo hide-on-med-and-down">DISPLAY_NAME</a>
      <a href="#!" class="t t-text-container t-double-ele brand-logo hide-on-large-only">DISPLAY_NAME</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="t t-text-container t-double-ele t" href="">HOME</a></li>
        <li><a class="t t-text-container t-double-ele t" href="">FLOW</a></li>
        <li><a class="t t-text-container t-double-ele t" href="">SHOP / SERVICES</a></li>
        <li><a class="t t-text-container t-double-ele t" href="">CONTACT</a></li>
      </ul>
      <ul class="side-nav black-text" id="mobile-demo">
        <li><a class="t t-text-container t-double-ele t" href="">HOME</a></li>
        <li><a class="t t-text-container t-double-ele t" href="">FLOW</a></li>
        <li><a class="t t-text-container t-double-ele t" href="">SHOP / SERVICES</a></li>
        <li><a class="t t-text-container t-double-ele t" href="">CONTACT</a></li>
      </ul>
    </div>
  </nav>

  <!-- PROFILE -->
  <div>

      <div id="topParallax" class="t parallax-container">

        <div style="margin-top: 70px;" class="center col s12 white-text">
            <h1 class="t t-text-container header">Site Header</h1>
            <h5 class="t t-text-container" style="margin-top: -15px;">
                Small preamble that hints what this Site is about. Make it catchy.
            </h5>
        </div>

        <div class="parallax">
            <img class="t t-img-container" src="img/dashboard/template_images/homeTemplate1/bkgrnd-3.png">
        </div>

      </div>

      <div class="t t-light-container section white z-depth-5">
        <div class="row container">

          <h2 class="t t-text-container col s12 header grey-text text-darken-4">Profile Title</h2>
          <br>
          <div class="col s12 m8 l7">
            <img class="t t-img-container z-depth-5" src="img/dashboard/template_images/homeTemplate1/profile-1.jpg" style="width: 400px; height: 360px;">
          </div>
          <div class="t t-text-container col s12 m4 l5 grey-text text-darken-3 lighten-3">

                Lorem ipsum dolor sit amet, ne impedit volumus alienum vim, accusam praesent concludaturque ad ius, has omittam interpretaris at. Eu putant volutpat eum, ea alienum posidonium nec, mea elitr homero sanctus ad.
                <br><br>
                Pri probo audiam ea, vix eu fugit minim. Vis labitur suscipit facilisis ut, cu mei sumo perpetua. In unum tation duo, elitr impetus equidem ea mei. Sea utroque graecis nusquam ei.
                <br><br>
                Ne eum nemore explicari prodesset, viderer graecis mea an. Eam no hinc epicurei antiopam, ad eam verterem referrentur. Aeterno mediocrem disputationi an mei. Qui at lobortis tractatos assentior, sit no oportere mnesarchum necessitatibus. No nam copiosae argumentum intellegam.

          </div>

        </div>
      </div>

      <div class="parallax-container t">
        <div class="parallax">
          <img class="t t-img-container" src="img/dashboard/template_images/homeTemplate1/bkgrnd-1.png">
        </div>
      </div>

     <div class="t t-light-container section white z-depth-5">
        <div class="row container">

          <h2 class="t t-text-container col s12 header">Video Title</h2>
          <br>

          <div class="col s12 ">
              <iframe class="t t-video-container z-depth-5" style="width:100%; height: 500px;" src="https://www.youtube.com/embed/UbMSOCpCcA8" frameborder="0" allowfullscreen></iframe>
          </div>

          <p class="t t-text-container col s12 grey-text text-darken-3">

            Lorem ipsum dolor sit amet, ne impedit volumus alienum vim, accusam praesent concludaturque ad ius, has omittam interpretaris at. Eu putant volutpat eum, ea alienum posidonium nec, mea elitr homero sanctus ad.
            <br><br>
            Pri probo audiam ea, vix eu fugit minim. Vis labitur suscipit facilisis ut, cu mei sumo perpetua. In unum tation duo, elitr impetus equidem ea mei. Sea utroque graecis nusquam ei.

          </p>
        </div>
      </div>

      <div class="parallax-container t">
        <div class="parallax">
          <img class="t t-img-container" src="img/dashboard/template_images/homeTemplate1/bkgrnd-2.png">
        </div>
      </div>

     <div class="t t-colored-container t-dark-container section red lighten-2 white-text z-depth-5">
        <div class="row container">
          <h2 class="t t-text-container header">Footer Title</h2>
          <p class="t t-text-container white-text">

            Lorem ipsum dolor sit amet, ne impedit volumus alienum vim, accusam praesent concludaturque ad ius, has omittam interpretaris at. Eu putant volutpat eum, ea alienum posidonium nec, mea elitr homero sanctus ad. Pri probo audiam ea, vix eu fugit minim. Vis labitur suscipit facilisis ut, cu mei sumo perpetua. In unum tation duo, elitr impetus equidem ea mei. Sea utroque graecis nusquam ei.
            <br><br>
            Ne eum nemore explicari prodesset, viderer graecis mea an. Eam no hinc epicurei antiopam, ad eam verterem referrentur. Aeterno mediocrem disputationi an mei. Qui at lobortis tractatos assentior, sit no oportere mnesarchum necessitatibus. No nam copiosae argumentum intellegam.
            <br><br>
            In eos alii adipisci, solum primis offendit at mea. An eam augue senserit. Dolore aliquid ad mel. Duis nostrud per te. Eam habemus vituperata ea. Ius te civibus tacimates mnesarchum, sea doctus apeirian ex.

          </p>
        </div>
      </div>

  </div>

</body>

</template>
