<template name="colorChooser">

<div class="col s12 center-align">

  <div name="red" class="colorBox red z-depth-3 menuItem"></div>
  <div name="pink" class="colorBox pink z-depth-3 menuItem"></div>
  <div name="purple" class="colorBox purple z-depth-3 menuItem"></div>
  <div name="indigo" class="colorBox indigo z-depth-3 menuItem"></div>

</div>

<div class="col s12 center-align">

  <div name="blue" class="colorBox blue z-depth-3 menuItem"></div>
  <div name="cyan" class="colorBox cyan z-depth-3 menuItem"></div>
  <div name="teal" class="colorBox teal z-depth-3 menuItem"></div>
  <div name="green" class="colorBox green z-depth-3 menuItem"></div>

</div>

<div class="col s12 center-align">

  <div name="light-green" class="colorBox light-green z-depth-3 menuItem"></div>
  <div name="lime" class="colorBox lime z-depth-3 menuItem"></div>
  <div name="yellow" class="colorBox yellow z-depth-3 menuItem"></div>
  <div name="orange" class="colorBox orange z-depth-3 menuItem"></div>

</div>

<div class="col s12 center-align">

  <div name="brown" class="colorBox brown z-depth-3 menuItem"></div>
  <div name="white" class="colorBox white z-depth-3 menuItem"></div>
  <div name="grey" class="colorBox grey z-depth-3 menuItem"></div>
  <div name="black" class="colorBox black z-depth-3 menuItem"></div>

</div>

<br>
<form class="brightnessRange">

  <p class="range-field">
    Darken / Brighten:
    <input type="range" class="menuItem" min="-4" max="4" value="0"/>
  </p>

</form>

</template>
