<template name="dashNavbar">

  <!-- MATERIALIZE NAVBAR -->
  <nav>
    <div class="nav-wrapper grey lighten-5">
      <a href="#!" class="brand-logo hide-on-med-and-down"><img src="img/homepage/logo_blue.png" class="responsive-image logo"></a>
      <a href="#!" class="brand-logo hide-on-large-only"><img src="img/homepage/logo_blue.png" class="responsive-image logo"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse grey-text text-darken-3"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down" >

        <li><a href="dashboard" class="grey-text text-darken-3">START</a></li>
        <li><a href="browse" class="grey-text text-darken-3">BROWSE</a></li>
        <li><a href="sitebuilder" class="btn light-blue">SITE BUILDER</a></li>
        <li><a href="settings" class="waves-effect waves-light grey-text text-darken-3">SETTINGS</a></li>
        <li><a href="/" class="waves-effect waves-light grey-text text-darken-3">LOGOUT</a></li>

      </ul>
      <ul class="side-nav" id="mobile-demo">

        <li><a href="dashboard" class="grey-text text-darken-3">START</a></li>
        <li><a href="browse" class="grey-text text-darken-3">BROWSE</a></li>
        <li><a href="sitebuilder" class="btn light-blue hide-on-med-and-down">SITE BUILDER</a></li>
        <li><a href="settings" class="waves-effect waves-light grey-text text-darken-3">SETTINGS</a></li>
        <li><a href="/" class="waves-effect waves-light grey-text text-darken-3">LOGOUT</a></li>

      </ul>
    </div>
  </nav>

</template>
