<template name="feedbackButtons">

  <style>

  #feedbackContainer {

      position: fixed;
      bottom: 10px;
      right: 0px;
      z-index: 1000;
  }

  </style>


  <div class="hide-on-small-only" id="feedbackContainer">

      <a href="#suggestion" class="btn white black-text"><i class="fa fa-question" aria-hidden="true"></i> &nbsp; Make a Suggestion</a>
      <a href="#reportBug" class="btn red lighten-1 white-text"><i style="position: relative; top: 2px;" class="fa fa-exclamation" aria-hidden="true"></i> &nbsp; Report a Bug</a>

  </div>


</template>
